<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="luyao.android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.StandardActivityA"
            android:label="StandActivityA"
            android:launchMode="standard"/>

        <activity
            android:name=".activity.StandardActivityB"
            android:label="StandardActivityB"
            android:launchMode="standard" />

        <activity
            android:name=".activity.SingleTaskActivityC"
            android:label="SingleTaskActivityC"
            android:launchMode="singleTask" />

        <activity
            android:name=".activity.SingleTaskActivityD"
            android:label="SingleTaskActivityD"
            android:launchMode="singleTask" />

        <activity
            android:name=".activity.SingleTopActivity"
            android:label="singleTopActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".activity.SingleInstanceActivity"
            android:label="singleInstanceActivity"
            android:launchMode="singleInstance" />

        <activity android:name=".activity.NewTaskWithDefaultTaskAffinityActivity"
            android:label="NewTaskWithDefaultTaskAffinityActivity"/>

        <activity android:name=".activity.NewTaskWithAnotherTaskAffinityActivity"
            android:label="NewTaskWithAnotherTaskAffinityActivity"
            android:taskAffinity="luyao.newTask"/>
    </application>

</manifest>